h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.5rem;}

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: .75rem; }

h6, .h6 {
  font-size: 5rem; }


ol {
  line-height: 1.5rem;
}

ul li {
  margin-bottom: 1em;
}

.condensed > li {
  margin-bottom: 0em !important;
}

.condensed {
  margin-bottom: 0em !important;
}
