/* Colors:
white: #FFFFFF
next to white: #FAFAFA
platinum: #EBEBEB
pearly purple: #B965A7
blue jeans: #05A6F0
blue jeans accent: #0376ab
darker accent: #01396e;
selective yellow: #FDB813
apple green: #81BC06
oxford blue: #051739

 */


/* body {
  font-family: "Segoe UI", sans-serif;
} */
